@import "~bootstrap/scss/bootstrap";

.user-div:hover {
  background-color: darkgray;
}

.messages-box {
  height: 500px;
  overflow-y: scroll;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.user-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
